@model  IEnumerable<MVCSchool.Models.Student>
@{
    ViewBag.Title = "Students";
}

<div class="container">
    <h3 class="text-center m-5">Our Students</h3>
    <div class="row m-2">
        @foreach (var student in Model)
        {

            <div class="m-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><a class="text-decoration-none" href="~/Student/Details/@student.StudentId">@student.FirstName @student.LastName</a></h5>
                        <ul class="list-unstyled">
                            <li><strong>Age:</strong> @student.Age</li>
                            <li><strong>Date of Birth:</strong> @student.DateOfBirth.ToString("dd MMMM yyyy")</li>
                        </ul>
                        <a href="~/Student/Details/@student.StudentId" class="btn btn-outline-info btn-sm">More Details</a>
                    </div>
                </div>
            </div>

        }
    </div>
</div>
